.popup__button {
    margin: 48px 36px 36px;
    width: 358px;
    height: 50px;
    background-color: black;
    color: white;
    font-family: Inter, Arial, Helvetica, sans-serif;
    font-style: normal;
    font-size: 1.1rem;
    line-height: 1.3rem;
    text-align: center;
    border-width: 0;
    border-radius: 2px;
    cursor: pointer;
}

.popup__button:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

@media screen and (max-width: 550px) {
    .popup__button {
        width: 200px;
        margin: 36px 20px 30px;
        font-size: 1.4rem;
        line-height: 1.5rem;
    }
}