.popup__button {
    margin: 48px 36px 0;
    width: 358px;
    height: 50px;
    background-color: black;
    color: white;
    font-family: Inter;
    font-style: normal;
    font-size: 1.1rem;
    line-height: 1.3rem;
    text-align: center;
    border-width: 0;
    border-radius: 2px;
}

.popup__button:hover {
    cursor: pointer;
    opacity: 0.8;
}

@media screen and (max-width: 550px) {
    .popup__button {
        width: 80%;
        margin-left: 28px;
        margin-right: 28px;
    }
}