.header__line {
    background-image: url(../../../images/Line.png);
    margin-top: 40px;
    height: 1px;
}

@media screen and (max-width: 550px) {
    .header__line {
        margin-top: 31px;
    }
}