.popup__heading {
    font-family: Inter, Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size: 1.5rem;
    line-height: 1.8125rem;
    margin: 34px 0 48px 36px;
}