.profile__button_add {
    width: 150px;
    height: 50px;
    background-color: black;
    border: 2px solid white;
    background-image: url("../../../../images/button_add.svg");
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 2px;
}
   
@media screen and (max-width: 550px) {
    .profile__button_add {
        width: 282px;
    }
}


@media screen and (max-width: 319px) {
    .profile__button_add {
        width: 80%;
    }
}