.popup__close-icon {
    width: 41px;
    height: 41px;
    background-color: rgba(0, 0, 0, 0);
    border-width: 0px;
    background-image: url(../../../images/close_icon.svg);
    background-position: center;
    background-repeat: no-repeat;
    position: fixed;
    top: -10%;
    right: -10%;
    cursor: pointer;
}

.popup__close-icon:hover {
    opacity: 0.6;
    transition: 2s ease-out;
}

@media screen and (max-width: 550px) {
    .popup__close-icon {
        transform: scale(0.7, 0.7);
        top: -11%;
        right: -15%;

    }
}