.popup__close-icon {
    width: 41px;
    height: 41px;
    background-color: rgba(0, 0, 0, 0);
    border-width: 0px;
    background-image: url(../../../images/close_icon.svg);
    background-position: center;
    background-repeat: no-repeat;
    cursor: pointer;
    grid-column: 2;
    grid-row: 1;
    align-self: end;
}

.popup__close-icon:hover {
    opacity: 0.6;
    transition: 2s ease-out;
}