@import url(./_edit/profile__button_edit.css);
@import url(./_add/profile__button_add.css);

.profile__button {
    cursor: pointer;
    transition: opacity 0.2s;
}

.profile__button:hover {
    opacity: 0.6;
}