.popup__text-image {
    font-family: Inter, Arial, Helvetica, sans-serif;
    font-style: normal;
    font-size: 0.75rem;
    font-weight: normal;
    line-height: 0.93rem;
    margin-top: 10px;
    grid-column: 1;
    grid-row: 3;
}